* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: 'Poppins', sans-serif;
}

body {
  background: black;
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}

#contactPage {
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactPageTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.clientDesc {
  font-weight: 300;
  font-size: 1rem;
}

.clientImgs {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

.clientImg {
  object-fit: cover;
  height: 120px;
  width: auto;
  min-width: 9rem;
  margin: 0.5rem;
  border: 2px solid blue;
  padding: 0.2rem;
}

.contactDesc {
  padding: 1rem;
  font-size: medium;
  font-weight: 300;
}

.contactForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}

.name, .email, .msg {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: rgb(40, 40, 40);
}

.submitBtn {
  background: white;
  padding: 0.75rem 3.5rem;
  border: none;
  border-radius: 0.5rem;
  margin: 2rem;
}

.submitBtn:hover {
  background: rgb(207, 207, 123);
}

.links {
  display: flex;
  flex-wrap: wrap;
}

.link {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin: 0 0.75rem;   
}

#contact {
  margin: 3rem auto;
}

.footer {
  margin: 2rem;
  text-align: center;
  width: 100;
  background: rgb(40, 40, 40);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: small;
}

#intro {
  height: calc(100vh - 3rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  /* overflow: hidden; */
}

.bg {
  position: absolute;
  top: 4rem;
  right: 0;
  z-index: -1;
  object-fit: cover;
  height: 50vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  padding: 1rem;

}

.introContent {
  height: 100vh;
  width: 100vh;
  padding: 2rem; 
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello {
  font-size: 1rem;
  font-weight: 200;
}

.introName {
  color: rgb(207, 207, 123);;
}

.introPara {
  font-size: 1rem;
  font-weight: 300;
}

.btn {
  background: white;
  margin: 1rem 0;
  padding: 0.75rem 2rem;
  border-radius: 1.5rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background: rgb(207, 207, 123);;
}

.btnImg {
  object-fit: cover;
  margin: 0 0.25rem;
  height: 1rem;

}

@media screen and (max-width:840px) {
  .bg {
      right: -10vw;
  }
  .introContent {
      font-size: 10vw;
  }
  .hello {
      font-size: 4.5vw;
  }
}

@media screen and (max-width:480px) {
  .bg {
      right: -20vw;
  }
  .introContent {
      font-size: 10vw;
  }
  .hello {
      font-size: 4.5vw;
  }
}

.navbar {
  background: black;
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
}
.logo:hover {
  transform: scale(1.5);
}

.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;

}

.desktopMenuListItem:hover {
  color: rgb(207, 207, 123);
  padding-bottom: 0.5rem;
  border-bottom: 3px solid rgb(207, 207, 123);;
  font-size: large;
}

.desktopMenuBtn {
  background: white;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 2rem;
  cursor: pointer;
}
.desktopMenuBtn:hover {
  background: rgb(207, 207, 123);
}

.desktopMenuImg {
  object-fit: cover;
  height: 1rem;
  width: 1rem;
  margin: 1rem;
}

.active {
  color: rgb(207, 207, 123);
  border-bottom: 3px solid rgb(207, 207, 123);
  padding: 0.5rem;
}

.navMenu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-height: 15rem;
  background: rgb(40, 40, 40);
  border-radius: 1rem;
}

.listItem {
  color: white;
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  border-radius: 1rem;
  background: rgb(30, 30, 30);
}

.mobMenu {
  display: none;
  object-fit: cover;
  height: 1.8rem;
}

@media screen and (max-width: 720px) {
  .mobMenu {
      display: flex;
  }
  .desktopMenu {
      display: none;
  }
  .desktopMenuBtn {
      display: none;
  }
}

#skills {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.skillTitle {
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}

.skillDesc {
  font-weight: 400;
  font-size: 0.75rem;
  max-width: 50rem;
  padding: 2rem;
}

.skillBars {
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: center;
}

.skillBar {
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: rgb(50, 50, 50);
  
}

.skillBarImg {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
}

.skillBarText>p {
  font-size: 0.75rem;
  font-weight: 200;
}

@media screen and (max-width:720px) {
  .skillBarText>p {
      font-size: 2vw;
  }
}

@media screen and (max-width:480px) {
  .skillBarText>p {
      font-size: 3vw;
  }
  .skillBarImg {
      height: 2.25rem;
      width: 2.25rem;
  }
  .skillBarText>h2 {
      font-size: 5;
  }
}

#works {
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

.worksTitle {
  margin: 1rem 0;
  font: 3rem;
}

.worksDesc {
  font-weight: 300;
  font-size: 1rem;
  max-width: 45rem;
}

.worksImgs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 65rem;
  flex-wrap: wrap;
}

.worksImg {
  object-fit: cover;
  height: 15rem;
  margin: 0.5rem;
}

.worksBtn {
  padding: 0.5rem 2.5rem;
  border: none;
  background: white;
  border-radius: 2rem;
  font-size: 1rem;
  margin: 3rem 0;
}

.worksBtn:hover {
  background: rgb(207, 207, 123);
}

@media screen and (max-width:585px) {
  .worksImg {
      height: 40vw;
  }
}